<% type ||= @type %>

<tr id="type_<%= type.id %>">
    <td><%= type.title %></td>
    <td><%= type.description %></td>
    <td><%= link_to 'Edit', edit_data_type_path(type), :class => 'edit_band' %>
    	<%= link_to 'Destroy', type, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete' %>

</tr>