<h1>Listing Data Types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<%= render :partial => "data_type", :collection => @types, :as => :type %>
</table>

<br />

<%= link_to 'New Data type', new_data_type_path, :class => "new" %>
