<p id="notice"><%= notice %></p>

<h2><%= @type.title %></h2>
<ul>
	<% @type.items.each do |item| %>
		<li><%= item.title %></li>
	<% end %>
</ul>

To put here:<br>
- What fields client sees when making a new <%= @type.title %>.<br>
- List of <%= @type.title %>'s (?)<br>
- ?

<p>
<%= link_to 'Edit', edit_data_type_path(@type) %> |
<%= link_to 'Back', data_types_path %>
