<h1>Listing Data Types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @data_types.each do |data_type| %>
  <tr>
    <td><%= data_type.title %></td>
    <td><%= data_type.description %></td>
    <td><%= link_to 'Show', data_type %><br>
        <%= link_to 'Edit', edit_data_type_path(data_type) %><br>
        <%= link_to 'Destroy', data_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data type', new_data_type_path %>
