<p id="notice"><%= notice %></p>

<h2><%= @data_type.title %></h2>
<ul>
	<% @data_type.items.each do |item| %>
		<li><%= item.title %></li>
	<% end %>
</ul>

To put here:<br>
- What fields client sees when making a new <%= @data_type.title %>.<br>
- List of <%= @data_type.title %>'s (?)<br>
- ?

<p>
<%= link_to 'Edit', edit_data_type_path(@data_type) %> |
<%= link_to 'Back', data_types_path %>
